.fun-facts-item {
    padding: 15px 0;
}

.fun-facts-item h2 {
    font-weight: 700;
    font-size: 30px;
    text-transform: uppercase;
}

.fun-facts-item p {
    margin: 0;
    text-transform: uppercase;
}

.fun-facts-item .style-1 {
    color: var(--black-70);
}

.fun-facts-item .style-2 {
    color: var(--green-light);
}

.fun-facts-item .style-3 {
    color: var(--red-light);
}

.fun-facts-item .style-4 {
    color: var(--orange-light);
}
